@model Logic.Models.RegisterRequestModel

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h2>Поздравляем @ViewData["Fio"] вы можете войти по ссылке: </h2>
    <a href="https://localhost:7075/Account/Login/">Войти</a>
</div>
</body>
</html>