@model Logic.Models.CabinetModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Ваш кабинет)</h1>
    <p>@Model.FIO</p>
    <p>@Model.Phone</p>
    <p>@Model.Email</p>
    <p>@Model.LastLogin</p>
</div>
</body>
</html>