@model Logic.Models.CabinetModel

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Ваш кабинет)</h1>
    <p>@Model.FIO</p>
    <p>@Model.Phone</p>
    <p>@Model.Email</p>
    <p>@Model.LastLogin</p>
    <a href="https://localhost:7075/logout">Выйти из аккаунта</a>
</div>
</body>
</html>